<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Threat Intelligence Reporting System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<button id="pie" onclick="location.href='/pie'">Pie</button>
<button id="logout" onclick="location.href='/logout'">Logout</button>
<h1>List of Threat IP Addresses</h1>
<table id="ip-table">
    <tr>
        <th>IP Address</th>
    </tr>
</table>
<script>
var data = JSON.parse('{{ data|safe }}');

var ipTable = document.getElementById('ip-table');

for (var i = 0; i < data.length; i++) {
    var tr = document.createElement('tr');
    var td = document.createElement('td');
    td.textContent = data[i];
    tr.appendChild(td);
    ipTable.appendChild(tr);
}
</script>
</body>
</html>
